<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aabeb0">  <td>17/05/22 12:17:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testadditemtocart.doSetUp()[pri:0, instance:com.testsuite.testadditemtocart@5056dfcb]">&gt;&gt;doSetUp</td> 
<td>&nbsp;</td>  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="aabeb0">  <td>17/05/22 12:17:20</td>   <td>11115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testadditemtocart.search()[pri:0, instance:com.testsuite.testadditemtocart@5056dfcb]">search</td> 
  <td>main@1165897474</td>   <td></td> </tr>
</table>
